@import "./../../node_modules/f-core-poc/tokens";

:host {
  button {
    display: inline-flex;
    flex: 0 0 auto;
    border-radius: $border-radius;
    background-color: $primary;
    height: 36px;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    border-style: none;
    color: white;
    font-family: inherit;
    cursor: pointer;
    display: inline-flex;

    align-items: center;
    justify-content: center;
    > span {
      z-index: 1;
    }
    &:hover {
      filter: saturate(0.5);
    }
  }
}
